header {
    background-image: url("../img/img6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

button:hover {
    background-color: rgb(2, 49, 10);
    
}
nav {
  background-color: black;
}
